<manifest package="com.shanjingtech.secumchat"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- WebRTC Dependencies -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- PubNub Dependencies -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE"/>
    <application
        android:name=".SecumApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shanjingtech.secumchat.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.shanjingtech.secumchat.SecumChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shanjingtech.secumchat.onboarding.PhoneNumActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
            android:name="com.shanjingtech.secumchat.onboarding.AccessCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".onboarding.MyDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".onboarding.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
        </activity>

        <activity android:name=".DebugActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="91e00c9c2689e489f2366001bd2585ac08dff096"
            />
    </application>

</manifest>
